body {
    background-image: url('../images/Psychic.jpg');
}

#game {
    width: 30%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background: white;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 15px;
}

#guesses-text {
    color: darkred;
}